# Sam Fine Second Nature

How many users were logged in at the busiest time
groupby function on time column, filter for users who are logged in, then do sum
find range for each user
first value for cutomer may be logout, and last may be login in the time range

In [2]:
import pandas as pd
import numpy as np

data = pd.read_csv(r'data/events2.csv')

In [28]:
data.head()
data['timestamp'] = pd.to_datetime(data['timestamp'])
data_sorted = data.sort_values('timestamp')

# identifier for login logout (binary 1,0)
# find range for users and check if start or end points for other users is in this range
# find largest range and check if other users start/end times are within this range

login = data_sorted.loc[data_sorted['event_type']=='login',:]
logout = data_sorted.loc[data_sorted['event_type']=='logout',:]
len(logout)
len(login)
data_sorted.head()

                   user_email event_type           timestamp
22538  xjgt.bpwzgz@service.io      login 2025-09-01 00:00:00
62625  xjgt.bpwzgz@service.io     logout 2025-09-01 00:24:00
68284  xjgt.bpwzgz@service.io      login 2025-09-01 00:32:00
80245    hkyvxunz601@test.org     logout 2025-09-01 00:40:00
36914  xjgt.bpwzgz@service.io     logout 2025-09-01 00:59:00

In [38]:
# login period will be start of data recording (for customers with logout first)
# logout period will be end of data recording (for customers with login last)
# add these values to each customer so we have 1-1 relationship. then merge login logout for each customer
# find first event_types and last_event types for each person
start_of_recording = min(data_sorted['timestamp'])
end_of_recording = max(data_sorted['timestamp'])

login_values = login['timestamp'].values
logout_values = logout['timestamp'].values

login_per_user = login.groupby('user_email').agg({'timestamp':'unique'}).reset_index()
logout_per_user = logout.groupby('user_email').agg({'timestamp':'unique'}).reset_index()

,user_email,timestamp
0,aaurf378@example.com,"[2025-11-17 06:19:00, 2025-11-17 06:34:00, 202..."
1,aaz922@test.org,"[2025-09-04 21:55:00, 2025-09-04 23:11:00, 202..."
2,abgwqdmm.hzsqxlda@example.com,"[2025-09-14 14:22:00, 2025-09-14 15:13:00, 202..."
3,abjxi.nvkep@test.org,[2025-09-26 00:20:00]
4,abmkv188@example.com,"[2026-02-05 07:56:00, 2026-02-05 08:05:00, 202..."

In [46]:
data_sorted.head()
count = 2475
max_value = 0
for value in data_sorted['event_type']:
    if value =='login':
        count+=1
    else:
        count -=1
    if count > max_value:
        max_value = count

#if last value is login for specific user,

In [45]:
data_sorted.groupby('user_email')['event_type'].first().value_counts()

event_type
login     2525
logout    2475
Name: count, dtype: int64